{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}